
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv zsh)"
{{ end -}}

export PATH="$HOME/.local/bin:$PATH"

{{ if eq .chezmoi.os "darwin" -}}
# >>> Codex installer >>>
# <<< Codex installer <<<
{{ end -}}

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

{{ if eq .chezmoi.os "linux" -}}
export PNPM_HOME="$HOME/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
{{ end -}}
